<!DOCTYPE html>
	<html>
		<head><script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!--
			<link href="/css/poole.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<link href="/css/syntax.css" rel="stylesheet">
			
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
			-->
			<link rel="stylesheet" href="/css/poole.css">
 <!-- <link rel="stylesheet" href="/css/syntax-perldoc.css">
<link rel="stylesheet" href="/css/lanyon.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&user=s7nQzP8AAAAJ">Publications</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/blog">Blog</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:doriang102@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/doriang102">github.com/doriang102</a></li>
				<li><a href="https://www.linkedin.com/in/dorian-goldman-6688a53b/">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
