---
layout: default
---
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!--<link href="/css/syntax.css" rel="stylesheet">-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
			<link rel="stylesheet" href="/css/poole.css">-->
 <!-- <link rel="stylesheet" href="/css/syntax-perldoc.css">-->
<!--<link rel="stylesheet" href="/css/lanyon.css"> -->

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<div class="disqus">
	{% include disqus.html %}
</div>
